.App {
    text-align: center;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #333;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.input-field {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: lightblue;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: rgb(130, 178, 194);
}

.result {
    margin-top: 20px;
    font-size: 18px;
}

p {
    margin: 0;
}

.classification {
    margin: 5px;
}

.result {
    margin-top: 20px;
}

p {
    margin: 0;
}

.classification {
    margin-top: 5px;
}